<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbcourse.curriculum_design.mapper.DiscussesRepliesLikesMapper">
  <resultMap id="BaseResultMap" type="com.dbcourse.curriculum_design.model.DiscussesRepliesLikes">
    <!--@mbg.generated-->
    <!--@Table DiscussesRepliesLikes-->
    <id column="n_id" jdbcType="INTEGER" property="nId" />
    <result column="n_user_id" jdbcType="INTEGER" property="nUserId" />
    <result column="n_type" jdbcType="INTEGER" property="nType" />
    <result column="n_discuss_reply_id" jdbcType="INTEGER" property="nDiscussReplyId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    n_id, n_user_id, n_type, n_discuss_reply_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from DiscussesRepliesLikes
    where n_id = #{nId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from DiscussesRepliesLikes
    where n_id = #{nId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dbcourse.curriculum_design.model.DiscussesRepliesLikes">
    <!--@mbg.generated-->
    insert into DiscussesRepliesLikes (n_id, n_user_id, n_type, 
      n_discuss_reply_id)
    values (#{nId,jdbcType=INTEGER}, #{nUserId,jdbcType=INTEGER}, #{nType,jdbcType=INTEGER}, 
      #{nDiscussReplyId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dbcourse.curriculum_design.model.DiscussesRepliesLikes">
    <!--@mbg.generated-->
    insert into DiscussesRepliesLikes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nId != null">
        n_id,
      </if>
      <if test="nUserId != null">
        n_user_id,
      </if>
      <if test="nType != null">
        n_type,
      </if>
      <if test="nDiscussReplyId != null">
        n_discuss_reply_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nId != null">
        #{nId,jdbcType=INTEGER},
      </if>
      <if test="nUserId != null">
        #{nUserId,jdbcType=INTEGER},
      </if>
      <if test="nType != null">
        #{nType,jdbcType=INTEGER},
      </if>
      <if test="nDiscussReplyId != null">
        #{nDiscussReplyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dbcourse.curriculum_design.model.DiscussesRepliesLikes">
    <!--@mbg.generated-->
    update DiscussesRepliesLikes
    <set>
      <if test="nUserId != null">
        n_user_id = #{nUserId,jdbcType=INTEGER},
      </if>
      <if test="nType != null">
        n_type = #{nType,jdbcType=INTEGER},
      </if>
      <if test="nDiscussReplyId != null">
        n_discuss_reply_id = #{nDiscussReplyId,jdbcType=INTEGER},
      </if>
    </set>
    where n_id = #{nId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dbcourse.curriculum_design.model.DiscussesRepliesLikes">
    <!--@mbg.generated-->
    update DiscussesRepliesLikes
    set n_user_id = #{nUserId,jdbcType=INTEGER},
      n_type = #{nType,jdbcType=INTEGER},
      n_discuss_reply_id = #{nDiscussReplyId,jdbcType=INTEGER}
    where n_id = #{nId,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into DiscussesRepliesLikes
    (n_id, n_user_id, n_type, n_discuss_reply_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.nId,jdbcType=INTEGER}, #{item.nUserId,jdbcType=INTEGER}, #{item.nType,jdbcType=INTEGER}, 
        #{item.nDiscussReplyId,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>