<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbcourse.curriculum_design.mapper.DiscussesRepliesLikesMapper">
  <resultMap id="BaseResultMap" type="com.dbcourse.curriculum_design.model.DiscussesRepliesLikes">
    <!--@mbg.generated-->
    <!--@Table dbo.DiscussesRepliesLikes-->
    <id column="n_id" jdbcType="INTEGER" property="nId" />
    <result column="n_user_id" jdbcType="INTEGER" property="nUserId" />
    <result column="n_type" jdbcType="INTEGER" property="nType" />
    <result column="n_discuss_reply_id" jdbcType="INTEGER" property="nDiscussReplyId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    n_id, n_user_id, n_type, n_discuss_reply_id
  </sql>
  <select id="selectByExample" parameterType="com.dbcourse.curriculum_design.model.DiscussesRepliesLikesExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.DiscussesRepliesLikes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from dbo.DiscussesRepliesLikes
    where n_id = #{nId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from dbo.DiscussesRepliesLikes
    where n_id = #{nId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dbcourse.curriculum_design.model.DiscussesRepliesLikesExample">
    <!--@mbg.generated-->
    delete from dbo.DiscussesRepliesLikes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="n_id" keyProperty="nId" parameterType="com.dbcourse.curriculum_design.model.DiscussesRepliesLikes" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into dbo.DiscussesRepliesLikes (n_user_id, n_type, n_discuss_reply_id
      )
    values (#{nUserId,jdbcType=INTEGER}, #{nType,jdbcType=INTEGER}, #{nDiscussReplyId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="n_id" keyProperty="nId" parameterType="com.dbcourse.curriculum_design.model.DiscussesRepliesLikes" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into dbo.DiscussesRepliesLikes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nUserId != null">
        n_user_id,
      </if>
      <if test="nType != null">
        n_type,
      </if>
      <if test="nDiscussReplyId != null">
        n_discuss_reply_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nUserId != null">
        #{nUserId,jdbcType=INTEGER},
      </if>
      <if test="nType != null">
        #{nType,jdbcType=INTEGER},
      </if>
      <if test="nDiscussReplyId != null">
        #{nDiscussReplyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dbcourse.curriculum_design.model.DiscussesRepliesLikesExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from dbo.DiscussesRepliesLikes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update dbo.DiscussesRepliesLikes
    <set>
      <if test="record.nId != null">
        n_id = #{record.nId,jdbcType=INTEGER},
      </if>
      <if test="record.nUserId != null">
        n_user_id = #{record.nUserId,jdbcType=INTEGER},
      </if>
      <if test="record.nType != null">
        n_type = #{record.nType,jdbcType=INTEGER},
      </if>
      <if test="record.nDiscussReplyId != null">
        n_discuss_reply_id = #{record.nDiscussReplyId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update dbo.DiscussesRepliesLikes
    set n_id = #{record.nId,jdbcType=INTEGER},
      n_user_id = #{record.nUserId,jdbcType=INTEGER},
      n_type = #{record.nType,jdbcType=INTEGER},
      n_discuss_reply_id = #{record.nDiscussReplyId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dbcourse.curriculum_design.model.DiscussesRepliesLikes">
    <!--@mbg.generated-->
    update dbo.DiscussesRepliesLikes
    <set>
      <if test="nUserId != null">
        n_user_id = #{nUserId,jdbcType=INTEGER},
      </if>
      <if test="nType != null">
        n_type = #{nType,jdbcType=INTEGER},
      </if>
      <if test="nDiscussReplyId != null">
        n_discuss_reply_id = #{nDiscussReplyId,jdbcType=INTEGER},
      </if>
    </set>
    where n_id = #{nId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dbcourse.curriculum_design.model.DiscussesRepliesLikes">
    <!--@mbg.generated-->
    update dbo.DiscussesRepliesLikes
    set n_user_id = #{nUserId,jdbcType=INTEGER},
      n_type = #{nType,jdbcType=INTEGER},
      n_discuss_reply_id = #{nDiscussReplyId,jdbcType=INTEGER}
    where n_id = #{nId,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" keyColumn="n_id" keyProperty="nId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into dbo.DiscussesRepliesLikes
    (n_user_id, n_type, n_discuss_reply_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.nUserId,jdbcType=INTEGER}, #{item.nType,jdbcType=INTEGER}, #{item.nDiscussReplyId,jdbcType=INTEGER}
        )
    </foreach>
  </insert>
</mapper>