<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbcourse.curriculum_design.mapper.LongCommentsLikesMapper">
  <resultMap id="BaseResultMap" type="com.dbcourse.curriculum_design.model.LongCommentsLikes">
    <!--@mbg.generated-->
    <!--@Table LongCommentsLikes-->
    <id column="n_id" jdbcType="INTEGER" property="nId" />
    <result column="n_long_comment_id" jdbcType="INTEGER" property="nLongCommentId" />
    <result column="n_user_id" jdbcType="INTEGER" property="nUserId" />
    <result column="n_type" jdbcType="INTEGER" property="nType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    n_id, n_long_comment_id, n_user_id, n_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from LongCommentsLikes
    where n_id = #{nId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from LongCommentsLikes
    where n_id = #{nId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dbcourse.curriculum_design.model.LongCommentsLikes">
    <!--@mbg.generated-->
    insert into LongCommentsLikes (n_id, n_long_comment_id, n_user_id, 
      n_type)
    values (#{nId,jdbcType=INTEGER}, #{nLongCommentId,jdbcType=INTEGER}, #{nUserId,jdbcType=INTEGER}, 
      #{nType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dbcourse.curriculum_design.model.LongCommentsLikes">
    <!--@mbg.generated-->
    insert into LongCommentsLikes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nId != null">
        n_id,
      </if>
      <if test="nLongCommentId != null">
        n_long_comment_id,
      </if>
      <if test="nUserId != null">
        n_user_id,
      </if>
      <if test="nType != null">
        n_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nId != null">
        #{nId,jdbcType=INTEGER},
      </if>
      <if test="nLongCommentId != null">
        #{nLongCommentId,jdbcType=INTEGER},
      </if>
      <if test="nUserId != null">
        #{nUserId,jdbcType=INTEGER},
      </if>
      <if test="nType != null">
        #{nType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dbcourse.curriculum_design.model.LongCommentsLikes">
    <!--@mbg.generated-->
    update LongCommentsLikes
    <set>
      <if test="nLongCommentId != null">
        n_long_comment_id = #{nLongCommentId,jdbcType=INTEGER},
      </if>
      <if test="nUserId != null">
        n_user_id = #{nUserId,jdbcType=INTEGER},
      </if>
      <if test="nType != null">
        n_type = #{nType,jdbcType=INTEGER},
      </if>
    </set>
    where n_id = #{nId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dbcourse.curriculum_design.model.LongCommentsLikes">
    <!--@mbg.generated-->
    update LongCommentsLikes
    set n_long_comment_id = #{nLongCommentId,jdbcType=INTEGER},
      n_user_id = #{nUserId,jdbcType=INTEGER},
      n_type = #{nType,jdbcType=INTEGER}
    where n_id = #{nId,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into LongCommentsLikes
    (n_id, n_long_comment_id, n_user_id, n_type)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.nId,jdbcType=INTEGER}, #{item.nLongCommentId,jdbcType=INTEGER}, #{item.nUserId,jdbcType=INTEGER}, 
        #{item.nType,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>