<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbcourse.curriculum_design.mapper.LongCommentsMapper">
  <resultMap id="BaseResultMap" type="com.dbcourse.curriculum_design.model.LongComments">
    <!--@mbg.generated-->
    <!--@Table dbo.LongComments-->
    <id column="n_id" jdbcType="INTEGER" property="nId" />
    <result column="n_user_id" jdbcType="INTEGER" property="nUserId" />
    <result column="n_movie_id" jdbcType="INTEGER" property="nMovieId" />
    <result column="d_create_time" jdbcType="TIMESTAMP" property="dCreateTime" />
    <result column="d_edit_time" jdbcType="TIMESTAMP" property="dEditTime" />
    <result column="n_score" jdbcType="SMALLINT" property="nScore" />
    <result column="c_title" jdbcType="VARCHAR" property="cTitle" />
    <result column="c_content" jdbcType="VARCHAR" property="cContent" />
    <result column="n_topic_id" jdbcType="INTEGER" property="nTopicId" />
    <result column="n_like_num" jdbcType="INTEGER" property="nLikeNum" />
    <result column="n_unlike_num" jdbcType="INTEGER" property="nUnlikeNum" />
    <result column="c_plain_text_content" jdbcType="VARCHAR" property="cPlainTextContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    n_id, n_user_id, n_movie_id, d_create_time, d_edit_time, n_score, c_title, c_content, 
    n_topic_id, n_like_num, n_unlike_num, c_plain_text_content
  </sql>
  <select id="selectByExample" parameterType="com.dbcourse.curriculum_design.model.LongCommentsExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.LongComments
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from dbo.LongComments
    where n_id = #{nId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from dbo.LongComments
    where n_id = #{nId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dbcourse.curriculum_design.model.LongCommentsExample">
    <!--@mbg.generated-->
    delete from dbo.LongComments
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="n_id" keyProperty="nId" parameterType="com.dbcourse.curriculum_design.model.LongComments" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into dbo.LongComments (n_user_id, n_movie_id, d_create_time, 
      d_edit_time, n_score, c_title, 
      c_content, n_topic_id, n_like_num, 
      n_unlike_num, c_plain_text_content)
    values (#{nUserId,jdbcType=INTEGER}, #{nMovieId,jdbcType=INTEGER}, #{dCreateTime,jdbcType=TIMESTAMP}, 
      #{dEditTime,jdbcType=TIMESTAMP}, #{nScore,jdbcType=SMALLINT}, #{cTitle,jdbcType=VARCHAR}, 
      #{cContent,jdbcType=VARCHAR}, #{nTopicId,jdbcType=INTEGER}, #{nLikeNum,jdbcType=INTEGER}, 
      #{nUnlikeNum,jdbcType=INTEGER}, #{cPlainTextContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="n_id" keyProperty="nId" parameterType="com.dbcourse.curriculum_design.model.LongComments" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into dbo.LongComments
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nUserId != null">
        n_user_id,
      </if>
      <if test="nMovieId != null">
        n_movie_id,
      </if>
      <if test="dCreateTime != null">
        d_create_time,
      </if>
      <if test="dEditTime != null">
        d_edit_time,
      </if>
      <if test="nScore != null">
        n_score,
      </if>
      <if test="cTitle != null">
        c_title,
      </if>
      <if test="cContent != null">
        c_content,
      </if>
      <if test="nTopicId != null">
        n_topic_id,
      </if>
      <if test="nLikeNum != null">
        n_like_num,
      </if>
      <if test="nUnlikeNum != null">
        n_unlike_num,
      </if>
      <if test="cPlainTextContent != null">
        c_plain_text_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nUserId != null">
        #{nUserId,jdbcType=INTEGER},
      </if>
      <if test="nMovieId != null">
        #{nMovieId,jdbcType=INTEGER},
      </if>
      <if test="dCreateTime != null">
        #{dCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dEditTime != null">
        #{dEditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nScore != null">
        #{nScore,jdbcType=SMALLINT},
      </if>
      <if test="cTitle != null">
        #{cTitle,jdbcType=VARCHAR},
      </if>
      <if test="cContent != null">
        #{cContent,jdbcType=VARCHAR},
      </if>
      <if test="nTopicId != null">
        #{nTopicId,jdbcType=INTEGER},
      </if>
      <if test="nLikeNum != null">
        #{nLikeNum,jdbcType=INTEGER},
      </if>
      <if test="nUnlikeNum != null">
        #{nUnlikeNum,jdbcType=INTEGER},
      </if>
      <if test="cPlainTextContent != null">
        #{cPlainTextContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dbcourse.curriculum_design.model.LongCommentsExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from dbo.LongComments
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update dbo.LongComments
    <set>
      <if test="record.nId != null">
        n_id = #{record.nId,jdbcType=INTEGER},
      </if>
      <if test="record.nUserId != null">
        n_user_id = #{record.nUserId,jdbcType=INTEGER},
      </if>
      <if test="record.nMovieId != null">
        n_movie_id = #{record.nMovieId,jdbcType=INTEGER},
      </if>
      <if test="record.dCreateTime != null">
        d_create_time = #{record.dCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dEditTime != null">
        d_edit_time = #{record.dEditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.nScore != null">
        n_score = #{record.nScore,jdbcType=SMALLINT},
      </if>
      <if test="record.cTitle != null">
        c_title = #{record.cTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.cContent != null">
        c_content = #{record.cContent,jdbcType=VARCHAR},
      </if>
      <if test="record.nTopicId != null">
        n_topic_id = #{record.nTopicId,jdbcType=INTEGER},
      </if>
      <if test="record.nLikeNum != null">
        n_like_num = #{record.nLikeNum,jdbcType=INTEGER},
      </if>
      <if test="record.nUnlikeNum != null">
        n_unlike_num = #{record.nUnlikeNum,jdbcType=INTEGER},
      </if>
      <if test="record.cPlainTextContent != null">
        c_plain_text_content = #{record.cPlainTextContent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update dbo.LongComments
    set n_id = #{record.nId,jdbcType=INTEGER},
      n_user_id = #{record.nUserId,jdbcType=INTEGER},
      n_movie_id = #{record.nMovieId,jdbcType=INTEGER},
      d_create_time = #{record.dCreateTime,jdbcType=TIMESTAMP},
      d_edit_time = #{record.dEditTime,jdbcType=TIMESTAMP},
      n_score = #{record.nScore,jdbcType=SMALLINT},
      c_title = #{record.cTitle,jdbcType=VARCHAR},
      c_content = #{record.cContent,jdbcType=VARCHAR},
      n_topic_id = #{record.nTopicId,jdbcType=INTEGER},
      n_like_num = #{record.nLikeNum,jdbcType=INTEGER},
      n_unlike_num = #{record.nUnlikeNum,jdbcType=INTEGER},
      c_plain_text_content = #{record.cPlainTextContent,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dbcourse.curriculum_design.model.LongComments">
    <!--@mbg.generated-->
    update dbo.LongComments
    <set>
      <if test="nUserId != null">
        n_user_id = #{nUserId,jdbcType=INTEGER},
      </if>
      <if test="nMovieId != null">
        n_movie_id = #{nMovieId,jdbcType=INTEGER},
      </if>
      <if test="dCreateTime != null">
        d_create_time = #{dCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dEditTime != null">
        d_edit_time = #{dEditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nScore != null">
        n_score = #{nScore,jdbcType=SMALLINT},
      </if>
      <if test="cTitle != null">
        c_title = #{cTitle,jdbcType=VARCHAR},
      </if>
      <if test="cContent != null">
        c_content = #{cContent,jdbcType=VARCHAR},
      </if>
      <if test="nTopicId != null">
        n_topic_id = #{nTopicId,jdbcType=INTEGER},
      </if>
      <if test="nLikeNum != null">
        n_like_num = #{nLikeNum,jdbcType=INTEGER},
      </if>
      <if test="nUnlikeNum != null">
        n_unlike_num = #{nUnlikeNum,jdbcType=INTEGER},
      </if>
      <if test="cPlainTextContent != null">
        c_plain_text_content = #{cPlainTextContent,jdbcType=VARCHAR},
      </if>
    </set>
    where n_id = #{nId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dbcourse.curriculum_design.model.LongComments">
    <!--@mbg.generated-->
    update dbo.LongComments
    set n_user_id = #{nUserId,jdbcType=INTEGER},
      n_movie_id = #{nMovieId,jdbcType=INTEGER},
      d_create_time = #{dCreateTime,jdbcType=TIMESTAMP},
      d_edit_time = #{dEditTime,jdbcType=TIMESTAMP},
      n_score = #{nScore,jdbcType=SMALLINT},
      c_title = #{cTitle,jdbcType=VARCHAR},
      c_content = #{cContent,jdbcType=VARCHAR},
      n_topic_id = #{nTopicId,jdbcType=INTEGER},
      n_like_num = #{nLikeNum,jdbcType=INTEGER},
      n_unlike_num = #{nUnlikeNum,jdbcType=INTEGER},
      c_plain_text_content = #{cPlainTextContent,jdbcType=VARCHAR}
    where n_id = #{nId,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" keyColumn="n_id" keyProperty="nId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into dbo.LongComments
    (n_user_id, n_movie_id, d_create_time, d_edit_time, n_score, c_title, c_content, 
      n_topic_id, n_like_num, n_unlike_num, c_plain_text_content)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.nUserId,jdbcType=INTEGER}, #{item.nMovieId,jdbcType=INTEGER}, #{item.dCreateTime,jdbcType=TIMESTAMP}, 
        #{item.dEditTime,jdbcType=TIMESTAMP}, #{item.nScore,jdbcType=SMALLINT}, #{item.cTitle,jdbcType=VARCHAR}, 
        #{item.cContent,jdbcType=VARCHAR}, #{item.nTopicId,jdbcType=INTEGER}, #{item.nLikeNum,jdbcType=INTEGER}, 
        #{item.nUnlikeNum,jdbcType=INTEGER}, #{item.cPlainTextContent,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>
</mapper>