<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbcourse.curriculum_design.mapper.ShortCommentsAndMovieMapper">
  <resultMap id="BaseResultMap" type="com.dbcourse.curriculum_design.model.ShortCommentsAndMovie">
    <!--@mbg.generated-->
    <!--@Table dbo.ShortCommentsAndMovie-->
    <result column="ShortCommentsId" jdbcType="INTEGER" property="shortcommentsid" />
    <result column="UserId" jdbcType="INTEGER" property="userid" />
    <result column="ShortCommentsCreateTime" jdbcType="TIMESTAMP" property="shortcommentscreatetime" />
    <result column="ShortCommentsScore" jdbcType="SMALLINT" property="shortcommentsscore" />
    <result column="ShortCommentsContent" jdbcType="VARCHAR" property="shortcommentscontent" />
    <result column="ShortCommentsType" jdbcType="INTEGER" property="shortcommentstype" />
    <result column="ShortCommentsLikeNum" jdbcType="INTEGER" property="shortcommentslikenum" />
    <result column="MovieId" jdbcType="INTEGER" property="movieid" />
    <result column="MovieName" jdbcType="VARCHAR" property="moviename" />
    <result column="MovieCover" jdbcType="VARCHAR" property="moviecover" />
    <result column="MovieScore" jdbcType="REAL" property="moviescore" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ShortCommentsId, UserId, ShortCommentsCreateTime, ShortCommentsScore, ShortCommentsContent, 
    ShortCommentsType, ShortCommentsLikeNum, MovieId, MovieName, MovieCover, MovieScore
  </sql>
  <select id="selectByExample" parameterType="com.dbcourse.curriculum_design.model.ShortCommentsAndMovieExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.ShortCommentsAndMovie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.dbcourse.curriculum_design.model.ShortCommentsAndMovieExample">
    <!--@mbg.generated-->
    delete from dbo.ShortCommentsAndMovie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dbcourse.curriculum_design.model.ShortCommentsAndMovie">
    <!--@mbg.generated-->
    insert into dbo.ShortCommentsAndMovie (ShortCommentsId, UserId, ShortCommentsCreateTime, 
      ShortCommentsScore, ShortCommentsContent, 
      ShortCommentsType, ShortCommentsLikeNum, 
      MovieId, MovieName, MovieCover, 
      MovieScore)
    values (#{shortcommentsid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{shortcommentscreatetime,jdbcType=TIMESTAMP}, 
      #{shortcommentsscore,jdbcType=SMALLINT}, #{shortcommentscontent,jdbcType=VARCHAR}, 
      #{shortcommentstype,jdbcType=INTEGER}, #{shortcommentslikenum,jdbcType=INTEGER}, 
      #{movieid,jdbcType=INTEGER}, #{moviename,jdbcType=VARCHAR}, #{moviecover,jdbcType=VARCHAR}, 
      #{moviescore,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.dbcourse.curriculum_design.model.ShortCommentsAndMovie">
    <!--@mbg.generated-->
    insert into dbo.ShortCommentsAndMovie
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shortcommentsid != null">
        ShortCommentsId,
      </if>
      <if test="userid != null">
        UserId,
      </if>
      <if test="shortcommentscreatetime != null">
        ShortCommentsCreateTime,
      </if>
      <if test="shortcommentsscore != null">
        ShortCommentsScore,
      </if>
      <if test="shortcommentscontent != null">
        ShortCommentsContent,
      </if>
      <if test="shortcommentstype != null">
        ShortCommentsType,
      </if>
      <if test="shortcommentslikenum != null">
        ShortCommentsLikeNum,
      </if>
      <if test="movieid != null">
        MovieId,
      </if>
      <if test="moviename != null">
        MovieName,
      </if>
      <if test="moviecover != null">
        MovieCover,
      </if>
      <if test="moviescore != null">
        MovieScore,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shortcommentsid != null">
        #{shortcommentsid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="shortcommentscreatetime != null">
        #{shortcommentscreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="shortcommentsscore != null">
        #{shortcommentsscore,jdbcType=SMALLINT},
      </if>
      <if test="shortcommentscontent != null">
        #{shortcommentscontent,jdbcType=VARCHAR},
      </if>
      <if test="shortcommentstype != null">
        #{shortcommentstype,jdbcType=INTEGER},
      </if>
      <if test="shortcommentslikenum != null">
        #{shortcommentslikenum,jdbcType=INTEGER},
      </if>
      <if test="movieid != null">
        #{movieid,jdbcType=INTEGER},
      </if>
      <if test="moviename != null">
        #{moviename,jdbcType=VARCHAR},
      </if>
      <if test="moviecover != null">
        #{moviecover,jdbcType=VARCHAR},
      </if>
      <if test="moviescore != null">
        #{moviescore,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dbcourse.curriculum_design.model.ShortCommentsAndMovieExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from dbo.ShortCommentsAndMovie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update dbo.ShortCommentsAndMovie
    <set>
      <if test="record.shortcommentsid != null">
        ShortCommentsId = #{record.shortcommentsid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        UserId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.shortcommentscreatetime != null">
        ShortCommentsCreateTime = #{record.shortcommentscreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shortcommentsscore != null">
        ShortCommentsScore = #{record.shortcommentsscore,jdbcType=SMALLINT},
      </if>
      <if test="record.shortcommentscontent != null">
        ShortCommentsContent = #{record.shortcommentscontent,jdbcType=VARCHAR},
      </if>
      <if test="record.shortcommentstype != null">
        ShortCommentsType = #{record.shortcommentstype,jdbcType=INTEGER},
      </if>
      <if test="record.shortcommentslikenum != null">
        ShortCommentsLikeNum = #{record.shortcommentslikenum,jdbcType=INTEGER},
      </if>
      <if test="record.movieid != null">
        MovieId = #{record.movieid,jdbcType=INTEGER},
      </if>
      <if test="record.moviename != null">
        MovieName = #{record.moviename,jdbcType=VARCHAR},
      </if>
      <if test="record.moviecover != null">
        MovieCover = #{record.moviecover,jdbcType=VARCHAR},
      </if>
      <if test="record.moviescore != null">
        MovieScore = #{record.moviescore,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update dbo.ShortCommentsAndMovie
    set ShortCommentsId = #{record.shortcommentsid,jdbcType=INTEGER},
      UserId = #{record.userid,jdbcType=INTEGER},
      ShortCommentsCreateTime = #{record.shortcommentscreatetime,jdbcType=TIMESTAMP},
      ShortCommentsScore = #{record.shortcommentsscore,jdbcType=SMALLINT},
      ShortCommentsContent = #{record.shortcommentscontent,jdbcType=VARCHAR},
      ShortCommentsType = #{record.shortcommentstype,jdbcType=INTEGER},
      ShortCommentsLikeNum = #{record.shortcommentslikenum,jdbcType=INTEGER},
      MovieId = #{record.movieid,jdbcType=INTEGER},
      MovieName = #{record.moviename,jdbcType=VARCHAR},
      MovieCover = #{record.moviecover,jdbcType=VARCHAR},
      MovieScore = #{record.moviescore,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into dbo.ShortCommentsAndMovie
    (ShortCommentsId, UserId, ShortCommentsCreateTime, ShortCommentsScore, ShortCommentsContent, 
      ShortCommentsType, ShortCommentsLikeNum, MovieId, MovieName, MovieCover, MovieScore
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.shortcommentsid,jdbcType=INTEGER}, #{item.userid,jdbcType=INTEGER}, #{item.shortcommentscreatetime,jdbcType=TIMESTAMP}, 
        #{item.shortcommentsscore,jdbcType=SMALLINT}, #{item.shortcommentscontent,jdbcType=VARCHAR}, 
        #{item.shortcommentstype,jdbcType=INTEGER}, #{item.shortcommentslikenum,jdbcType=INTEGER}, 
        #{item.movieid,jdbcType=INTEGER}, #{item.moviename,jdbcType=VARCHAR}, #{item.moviecover,jdbcType=VARCHAR}, 
        #{item.moviescore,jdbcType=REAL})
    </foreach>
  </insert>
</mapper>