<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbcourse.curriculum_design.mapper.UsersDiscussesMapper">
  <resultMap id="BaseResultMap" type="com.dbcourse.curriculum_design.model.UsersDiscusses">
    <!--@mbg.generated-->
    <!--@Table dbo.Users_Discusses-->
    <result column="Users_n_id" jdbcType="INTEGER" property="usersNId" />
    <result column="c_username" jdbcType="VARCHAR" property="cUsername" />
    <result column="Discusses_n_id" jdbcType="INTEGER" property="discussesNId" />
    <result column="n_movie_id" jdbcType="INTEGER" property="nMovieId" />
    <result column="d_create_time" jdbcType="TIMESTAMP" property="dCreateTime" />
    <result column="d_edit_time" jdbcType="TIMESTAMP" property="dEditTime" />
    <result column="c_name" jdbcType="VARCHAR" property="cName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    Users_n_id, c_username, Discusses_n_id, n_movie_id, d_create_time, d_edit_time, c_name
  </sql>
  <select id="selectByExample" parameterType="com.dbcourse.curriculum_design.model.UsersDiscussesExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.Users_Discusses
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.dbcourse.curriculum_design.model.UsersDiscussesExample">
    <!--@mbg.generated-->
    delete from dbo.Users_Discusses
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dbcourse.curriculum_design.model.UsersDiscusses">
    <!--@mbg.generated-->
    insert into dbo.Users_Discusses (Users_n_id, c_username, Discusses_n_id, 
      n_movie_id, d_create_time, d_edit_time, 
      c_name)
    values (#{usersNId,jdbcType=INTEGER}, #{cUsername,jdbcType=VARCHAR}, #{discussesNId,jdbcType=INTEGER}, 
      #{nMovieId,jdbcType=INTEGER}, #{dCreateTime,jdbcType=TIMESTAMP}, #{dEditTime,jdbcType=TIMESTAMP}, 
      #{cName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dbcourse.curriculum_design.model.UsersDiscusses">
    <!--@mbg.generated-->
    insert into dbo.Users_Discusses
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usersNId != null">
        Users_n_id,
      </if>
      <if test="cUsername != null">
        c_username,
      </if>
      <if test="discussesNId != null">
        Discusses_n_id,
      </if>
      <if test="nMovieId != null">
        n_movie_id,
      </if>
      <if test="dCreateTime != null">
        d_create_time,
      </if>
      <if test="dEditTime != null">
        d_edit_time,
      </if>
      <if test="cName != null">
        c_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="usersNId != null">
        #{usersNId,jdbcType=INTEGER},
      </if>
      <if test="cUsername != null">
        #{cUsername,jdbcType=VARCHAR},
      </if>
      <if test="discussesNId != null">
        #{discussesNId,jdbcType=INTEGER},
      </if>
      <if test="nMovieId != null">
        #{nMovieId,jdbcType=INTEGER},
      </if>
      <if test="dCreateTime != null">
        #{dCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dEditTime != null">
        #{dEditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cName != null">
        #{cName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dbcourse.curriculum_design.model.UsersDiscussesExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from dbo.Users_Discusses
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update dbo.Users_Discusses
    <set>
      <if test="record.usersNId != null">
        Users_n_id = #{record.usersNId,jdbcType=INTEGER},
      </if>
      <if test="record.cUsername != null">
        c_username = #{record.cUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.discussesNId != null">
        Discusses_n_id = #{record.discussesNId,jdbcType=INTEGER},
      </if>
      <if test="record.nMovieId != null">
        n_movie_id = #{record.nMovieId,jdbcType=INTEGER},
      </if>
      <if test="record.dCreateTime != null">
        d_create_time = #{record.dCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dEditTime != null">
        d_edit_time = #{record.dEditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cName != null">
        c_name = #{record.cName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update dbo.Users_Discusses
    set Users_n_id = #{record.usersNId,jdbcType=INTEGER},
      c_username = #{record.cUsername,jdbcType=VARCHAR},
      Discusses_n_id = #{record.discussesNId,jdbcType=INTEGER},
      n_movie_id = #{record.nMovieId,jdbcType=INTEGER},
      d_create_time = #{record.dCreateTime,jdbcType=TIMESTAMP},
      d_edit_time = #{record.dEditTime,jdbcType=TIMESTAMP},
      c_name = #{record.cName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into dbo.Users_Discusses
    (Users_n_id, c_username, Discusses_n_id, n_movie_id, d_create_time, d_edit_time, 
      c_name)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.usersNId,jdbcType=INTEGER}, #{item.cUsername,jdbcType=VARCHAR}, #{item.discussesNId,jdbcType=INTEGER}, 
        #{item.nMovieId,jdbcType=INTEGER}, #{item.dCreateTime,jdbcType=TIMESTAMP}, #{item.dEditTime,jdbcType=TIMESTAMP}, 
        #{item.cName,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>